<!doctype html>
<html lang="ru">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/fiz1.css' %}">
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'start-page' %}">Брокер ДБО</a>
    <button class="navbar-toggler d-lgr-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'fiz' %}">Физ. лицо</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'yur' %}">Юр. лицо</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'corp' %}">Корпорации</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Выберите, какими критериями должны обладать ДБО</h1>
    <form action="{% url 'dbo_list_fiz' %}" method="POST">
        {% csrf_token %}
        <div class="form-item">
            <p>Насколько вам важна безопасность? <span id="first-p">(1 - совсем не важна, 10 - очень важна)</span></p>
            <div class="form-check form-check-inline">
                {% for i in fizrad %}
                    {{ i }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Наличие каких критериев наиболее ценно для вас?</p>
            <div class="form-check">
                {% for a in multcheck %}
                    {{ a }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Какие банковские карты вам необходимы?</p>
            <div class="form-check">
                {% for o in bankcard %}
                    {{ o }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Какой процент вклада в рублях вас устроит?</p>
            <div class="form-check">
                {% for q in depositrub %}
                    {{ q }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Какой процент вклада в долларах вас устроит?</p>
            <div class="form-check">
                {% for q in depositdol %}
                    {{ q }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Какой процент вклада в евро вас устроит?</p>
            <div class="form-check">
                {% for q in depositEur %}
                    {{ q }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p class="italic">Далее вам предлогается выбрать подходящий вам процент по разным кредитным линиям.
                Все поля ниже обязательны!</p>
        </div>
        <div class="form-item">
            <p>Кредит под залог недвижимости</p>
            <div class="form-check">
                {% for j in credit %}
                    {{ j }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Кредит без залога</p>
            <div class="form-check">
                {% for n in creditwh %}
                    {{ n }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Кредит под залог авто</p>
            <div class="form-check">
                {% for c in creditwpledge %}
                    {{ c }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Автокредит</p>
            <div class="form-check">
                {% for y in autocr %}
                    {{ y }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>

</html>