<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   {% load static %}
  <link rel="stylesheet" href="{% static 'css/fiz1.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'start-page' %}">Брокер ДБО</a>
    <button class="navbar-toggler d-lgr-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'fiz' %}">Физ. лицо</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'yur' %}">Юр. лицо</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'corp' %}">Корпорации</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>Выберите, какими критериями должны обладать ДБО</h1>
    <form action="#">
      <div class="form-item">
        <p>Насколько вам важна безопасность? <span id="first-p">(1 - совсем не важна, 10 - очень важна)</span> </p>
        <div class="form-check form-check-inline">
          <label class="form-check-label label-inline">
            1 <input class="form-check-input" type="radio" name="security" value="security1">
          </label>
          <label class="form-check-label label-inline">
            2 <input class="form-check-input" type="radio" name="security" value="security2">
          </label>
          <label class="form-check-label label-inline">
            3 <input class="form-check-input" type="radio" name="security" value="security3">
          </label>
          <label class="form-check-label label-inline">
            4 <input class="form-check-input" type="radio" name="security" value="security4">
          </label>
          <label class="form-check-label label-inline">
            5 <input class="form-check-input" type="radio" name="security" value="security5">
          </label>
          <label class="form-check-label label-inline">
            6 <input class="form-check-input" type="radio" name="security" value="security6">
          </label>
          <label class="form-check-label label-inline">
            7 <input class="form-check-input" type="radio" name="security" value="security7">
          </label>
          <label class="form-check-label label-inline">
            8 <input class="form-check-input" type="radio" name="security" value="security8">
          </label>
          <label class="form-check-label label-inline">
            9 <input class="form-check-input" type="radio" name="security" value="security9">
          </label>
          <label class="form-check-label label-inline">
            10 <input class="form-check-input" type="radio" name="security" value="security10">
          </label>
        </div>
      </div>
      <div class="form-item">
        <p>Наличие каких критериев наиболее ценно для вас?</p>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="refin" value="1">
            Рефинансирование
          </label>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="depos" value="1">
            Депозиты
          </label>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="insurance" value="1">
            Страхование
          </label>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="invest" value="1">
            Инвестиции
          </label>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="mobile-app" value="1">
            Мобильное приложение
          </label>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="sms" value="1">
            Мобильная связь
          </label>
        </div>
      </div>
      <div class="form-item">
        <p>Какие банковские карты вам необходимы?</p>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="credit-card" value="1">
            Кредитные
          </label>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="debet-card" value="1">
            Дебетовые
          </label>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="premium-card" value="1">
            Премиальные
          </label>
        </div>
      </div>
      <div class="form-item">
        <p>Какие виды вкладов вам необходимы?</p>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="ruble" value="1">
            Рублевый
          </label>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="dollar" value="1">
            Долларовый
          </label>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="euro" value="1">
            Евро
          </label>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="multi" value="1">
            Мультивалютный
          </label>
        </div>
      </div>
      <div class="form-item">
        <p class="italic">Далее вам предлогается выбрать подходящий вам процент по разным кредитным линиям. Если
          какой-либо вид
          кредитования вам не нужен, то оставьте поля для выбора пустыми</p>
      </div>
      <div class="form-item">
        <p>Кредит под залог недвижимости</p>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="percent-prop" value="7">
            7-9%
          </label>
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="percent-prop" value="11">
            11-12%
          </label>
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="percent-prop" value="15">
            Более 15%
          </label>
        </div>
      </div>
      <div class="form-item">
        <p>Кредит без залога</p>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="percent-without" value="6">
            6-7%
          </label>
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="percent-without" value="8">
            8-9%
          </label>
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="percent-without" value="10">
            10-15%
          </label>
        </div>
      </div>
      <div class="form-item">
        <p>Кредит под залог авто</p>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="percent-auto" value="8">
            8%
          </label>
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="percent-auto" value="15">
            Более 10%
          </label>
        </div>
      </div>
      <div class="form-item">
        <p>Автокредит</p>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="autocredit" value="1">
            1-2%
          </label>
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="autocredit" value="6">
            6-9%
          </label>
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="autocredit" value="10">
            Более 10%
          </label>
        </div>
      </div>
      <div class="form-item">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</body>

</html>
