<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   {% load static %}
  <link rel="stylesheet" href="{% static 'css/start-page.css' %}">
</head>

<body>
  <div class="container">
    <h1>Брокер ДБО</h1>
    <h3>Выберите, кем вы являетесь</h3>
    <ul class="choice">
      <li class="choice-item"><a href="{% url 'fiz' %}" class="btn">Физическое лицо</a></li>
      <li class="choice-item"><a href="{% url 'yur' %}" class="btn">Юридическое лицо</a></li>
      <li class="choice-item"><a href="{% url 'corp' %}" class="btn">Корпорация</a></li>
    </ul>
  </div>
</body>

</html>