<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/yur1.css' %}">
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'start-page' %}">Брокер ДБО</a>
    <button class="navbar-toggler d-lgr-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'fiz' %}">Физ. лицо</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'yur' %}">Юр. лицо</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'corp' %}">Корпорации</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Выберите, какими критериями должны обладать ДБО</h1>

    <form action="{% url 'dbo_list_yur' %}" method="POST">
        {% csrf_token %}
        <div class="form-item">
            <p>Насколько вам важна безопасность? <span id="first-p">(1 - совсем не важна, 10 - очень важна)</span></p>
            <div class="form-check form-check-inline">
                {% for i in fizrad %}
                    {{ i }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Какие фунцкии ДБО вы считаете необходимыми?</p>
            <div class="form-check">
                {% for i in bankfunc %}
                    {{ i }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p class="italic">Далее вам предлогается выбрать подходящий вам процент по разным кредитным линиям.
            Все поля ниже обязательны!</p>
        </div>
        <div class="form-item">
            <p>Оборотный кредит</p>
            <div class="form-check">
                {% for i in revcr %}
                    {{ i }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Кредитная линия под контракт</p>
            <div class="form-check">
                {% for i in credline %}
                    {{ i }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Оборотная кредитная линия под залог недвижимости</p>
            <div class="form-check">
                {% for i in credrevline %}
                    {{ i }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Инвестиционная кредитная линия</p>
            <div class="form-check">
                {% for i in investline %}
                    {{ i }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Кредит для ИП на любые цели</p>
            <div class="form-check">
                {% for i in credip %}
                    {{ i }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <p>Кредит для ИП под залог недвижимости</p>
            <div class="form-check">
                {% for i in credipprop %}
                    {{ i }}
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </form>
</div>
</body>

</html>
